@model Immb.App.ViewModels.MembroAndListaViewModel

@{
    ViewData["Title"] = "Index";
}


<div class="row m-2">
    <div class="col">
        <h3>Lista de membros</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.membroViewModels.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.membroViewModels.Telefone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.membroViewModels.UnidadeReligiosa.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.membroViewModels.DataOutorga)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.membrosViewModels) {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnidadeReligiosa.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataOutorga)
                        </td>
                        <td>
                            <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id"> <span class="fa fa-pen-to-square"></span>  </a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><span class="fa fa-trash"></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="m-2 col-4">
        <partial name="_Create" model="Model.membroViewModels" />
    </div>
</div>
